/*CSS LESS SCREEN*/
@media screen {
  html,
  body {
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  #header {
    width: 1200px;
    height: 90px;
    margin: 10px auto 10px auto;
  }
  #header figure {
    float: left;
    width: auto;
    height: 90px;
  }
  #header figure h1 {
    height: 90px;
  }
  #header figure h1 img {
    width: auto;
    height: 90px;
  }
  #header section {
    float: right;
    width: auto;
    height: 90px;
    position: relative;
  }
  #header section address {
    width: auto;
    height: auto;
    text-align: right;
  }
  #header section address table tr td:nth-child(2) {
    padding-right: 10px;
  }
  #header section address table tr td:nth-child(2n+1) {
    width: auto;
    height: 25px;
    padding-top: 5px;
  }
  #header section address table tr td a {
    color: #505050;
  }
  #header section address table tr td a p {
    height: 25px;
    font-style: normal;
    font-size: 13px;
    vertical-align: middle;
    display: table-cell;
    font-family: encodebold;
    padding-left: 3px;
  }
  #header section address table tr td a img {
    width: auto;
    height: 20px;
  }
  #header section aside {
    width: auto;
    height: auto;
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  #header section aside ul {
    list-style: none;
    height: 34px;
    width: 100%;
  }
  #header section aside ul li:nth-child(1n+2) {
    margin-left: 5px;
  }
  #header section aside ul li:nth-child(1) {
    background-color: #c4c2c2;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(1) :hover {
    background-color: #4f8fb8;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(2) {
    background-color: #c4c2c2;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(2) :hover {
    background-color: #afa779;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(3) {
    background-color: #c4c2c2;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(3) :hover {
    background-color: #e4ba64;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(4) {
    background-color: #c4c2c2;
    border-radius: 1px;
  }
  #header section aside ul li:nth-child(4) :hover {
    background-color: #65c5e2;
    border-radius: 1px;
  }
  #header section aside ul li {
    display: inline-block;
    height: 34px;
    width: 34px;
  }
  #header section aside ul li a {
    vertical-align: top  ;
  }
  #header section aside ul li a img {
    width: auto;
    height: 34px;
  }
  #menu {
    width: 100%;
    height: 50px;
    background-color: #00AA9D;
  }
  #menu main {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
  }
  #menu main ul {
    list-style: none;
    height: auto;
    display: none;
  }
  #menu main ul a li {
    display: inline-block;
    height: 50px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    display: table-cell;
    color: #fff;
    font-family: encodebold;
  }
}
